.stopwatch-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald";
  font-size: 4rem;
  color: black;
  text-shadow: turquoise 0 0 6px;
}

.stopwatch-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
}

.stopwatch-container::-webkit-scrollbar {
  width: 0.5em;
}

.stopwatch-container::-webkit-scrollbar-track {
  background: transparent;
}

.stopwatch-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

.stopwatch-container:-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.stopwatch {
  height: 100vh;
  display: flex;
}

.stopwatch-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  background-color: black;
  font-size: 50px;
  color: turquoise;
  font-weight: bold;
  margin: auto;
}

.stopwatch-buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.stopwatch-buttons button {
  background-color: black;
  margin: 0 6px;
  color: turquoise;
  border-radius: 10px;
  border-style: none;
  font-size: 2rem;
  font-family: "Oswald";
}

.stopwatch-buttons button:hover {
  background-color: white;
  color: turquoise;
  border-style: none;
  font-size: 2rem;
  font-family: "Oswald";
  cursor: grab;
}

#root {
  background-color: #bbcdda;
}

.timer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Oswald";
  font-size: 4rem;
  color: black;
  text-shadow: turquoise 0 0 9px;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.time {
  font-family: "Oswald";
  font-size: 2rem;
  color: black;
  text-shadow: turquoise 0 0 6px;
  font-weight: bold;
}

.clock-face {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  color: turquoise;
}

.timer-buttons {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.time-button {
  background-color: black;
  margin: 0 6px 3px;
  color: turquoise;
  border-radius: 10px;
  border-style: none;
  font-size: 2rem;
  font-family: "Oswald";
}

.timer-buttons button {
  background-color: black;
  margin: 0 6px;
  color: turquoise;
  border-radius: 10px;
  border-style: none;
  font-size: 2rem;
  font-family: "Oswald";
}

.timer-buttons button:hover {
  background-color: white;
  color: turquoise;
  border-style: none;
  font-size: 2rem;
  font-family: "Oswald";
  cursor: grab;
}
